<div class="e-general">    
    <div class="e-general__header">
        <div class="e-general__header--revendedor">
            <div class="e-general__header--revendedor-image">
                <img src="/images/revendedor.png" />
            </div>
            <div class="e-general__header--revendedor-title">
                <span>Seja um revendedor</span>
            </div>
            <div class="e-general__header--revendedor-text">
                <span>(21) 2204-2403</span>
            </div>
        </div>
        <div class="e-general__header--logo">
            <img src="/images/logo.png" />
        </div>
        <div class="e-general__header--telefone">
            <div class="e-general__header--telefone-image">
                <img src="/images/telefone.png" />
            </div>
            <div class="e-general__header--telefone-title">
                <span>Telefone</span>
            </div>
            <div class="e-general__header--telefone-text">
                <span>(21) 2204-2403</span>
            </div>
        </div>
    </div>
    <div class="e-general__main">
        <div class="e-general__main--banner">
            <img src="/images/banner-principal-desktop.png" />
        </div>
        <div class="e-general__main--banner-mobile">
            <img src="/images/banner-principal-mobile.png" />
        </div>
        <div class="e-general__main--text">
            <span>Fale conosco</span>
        </div>
        <form class="e-general__main--form" id="form-top" method="post" action="phpMailer/sendmail.php">
            <select id="select" name="selected" required>
                <option value="cliente">Cliente</option>
                <option value="revendedor">Revendedor</option>
            </select>
            <input id="nome" type="name" name="Name" placeholder="Nome" required="required" />
            <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required="required">
            <input id="email" type="email" name="email" placeholder="E-mail" required="required"/>
            <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required="required"/>
            <input type="submit" class="button" value="Enviar" required/>
        </form>
        <div class="e-general__main--sucess" style="display: none;">
            <span>Cadastro efetuado com sucesso!</span>
        </div>
    </div>
    <div class="e-general__container">
        <div class="e-general__container--title">
            <span>Passo a passo</span>
        </div>
        <div class="e-general__container--product">
            <div class="e-general__container--product-image">
                <img src="/images/produto.png" />
            </div>
            <div class="e-general__container--product-text">
                <span>Escolha o produto</span>
            </div>
        </div>
        <div class="e-general__container--contact">
            <div class="e-general__container--contact-image">
                <img src="/images/contato.png" />
            </div>
            <div class="e-general__container--contact-text">
                <span>Entre em contato conosco</span>
            </div>
        </div>
        <div class="e-general__container--submit">
            <div class="e-general__container--submit-image">
                <img src="/images/enviamos.png" />
            </div>
            <div class="e-general__container--submit-text">
                <span>Te enviamos os produtos escolhidos</span>
            </div>
        </div>
    </div>
    <div class="e-general__banners">
        <div class="e-general__banners-top">
            <div class="e-general__banners-top--massa">
                <div class="e-general__banners-top--massa-image">
                    <img src="/images/whey-protein-.png" />
                </div>
                <div class="e-general__banners-top--massa-image-hover">
                    <a href="#massa"><img src="/images/whey_protein_hover.png" /></a>
                </div>
            </div>
            <div class="e-general__banners-top--diet">
                <div class="e-general__banners-top--diet-image">
                    <img src="/images/diet-bar.png" />
                </div>
                <div class="e-general__banners-top--diet-image-hover">
                    <a href="#diet"><img src="/images/diet_bar_hover.png" /></a>
                </div>
            </div>
            <div class="e-general__banners-top--snack">
                <div class="e-general__banners-top--snack-image">
                    <img src="/images/protein-snack.png" />
                </div>
                <div class="e-general__banners-top--snack-image-hover">
                    <a href="#snack"><img src="/images/protein_snack_hover.png" /></a>
                </div>
            </div>
            <div class="e-general__banners-top--energy">
                <div class="e-general__banners-top--energy-image">
                    <img src="/images/creatine.png" />
                </div>
                <div class="e-general__banners-top--energy-image-hover">
                    <a href="#creatine"><img src="/images/creatine_hover.png" /></a>
                </div>
            </div>
        </div>
        <div class="e-general__banners-bottom">
            <div class="e-general__banners-bottom--peso">
                <div class="e-general__banners-bottom--peso-image">
                    <img src="/images/pancake-protein.png" />
                </div>
                <div class="e-general__banners-bottom--peso-image-hover">
                    <a href="#pancake"><img src="/images/pancake_protein_hover.png" /></a>
                </div>
            </div>
            <div class="e-general__banners-bottom--refeicao">
                <div class="e-general__banners-bottom--refeicao-image">
                    <img src="/images/whey-bar.png" />
                </div>
                <div class="e-general__banners-bottom--refeicao-image-hover">
                    <a href="#whey-bar"><img src="/images/whey_bar_hover.png" /></a>
                </div>
            </div>
            <div class="e-general__banners-bottom--bcaa">
                <div class="e-general__banners-bottom--bcaa-image">
                    <img src="/images/bcaa.png" />
                </div>
                <div class="e-general__banners-bottom--bcaa-image-hover">
                    <a href="#bcaa"><img src="/images/bcaa_hover.png" /></a>
                </div>
            </div>
            <div class="e-general__banners-bottom--isolate">
                <div class="e-general__banners-bottom--isolate-image">
                    <img src="/images/isolate-whey.png" />
                </div>
                <div class="e-general__banners-bottom--isolate-image-hover">
                    <a href="#isolate"><img src="/images/Isolate_whey_hover.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="e-general__banners-mobile">
        <div class="e-general__banners-mobile-massa">
            <div class="e-general__banners-mobile-massa-image-hover">
                <a href="#massa"><img src="/images/whey-protein-hover.png" /></a>
            </div>
        </div>
        <div class="e-general__banners-mobile-diet">
            <div class="e-general__banners-mobile-diet-image-hover">
                <a href="#diet"><img src="/images/diet-bar-hover.png" /></a>
            </div>
        </div>
        <div class="e-general__banners-mobile-snack">
            <div class="e-general__banners-mobile-snack-image-hover">
                <a href="#snack"><img src="/images/protein-snack-hover.png" /></a>
            </div>
        </div>
        <div class="e-general__banners-mobile-energy">
            <div class="e-general__banners-mobile-energy-image-hover">
                <a href="#creatine"><img src="/images/creatine-hover.png" /></a>
            </div>
        </div>
        <div class="e-general__banners-mobile--peso">
            <div class="e-general__banners-mobile--peso-image-hover">
                <a href="#pancake"><img src="/images/pancake-protein-hover.png" /></a>
            </div>
        </div>
        <div class="e-general__banners-mobile--refeicao">
            <div class="e-general__banners-mobile--refeicao-image-hover">
                <a href="#whey-bar"><img src="/images/whey-bar-hover.png" /></a>
            </div>
        </div>
        <div class="e-general__banners-mobile--bcaa">
            <div class="e-general__banners-mobile--bcaa-image-hover">
                <a href="#bcaa"><img src="/images/bcaa-hover.png" /></a>
            </div>
        </div>
        <div class="e-general__banners-mobile--isolate">
            <div class="e-general__banners-mobile--isolate-image-hover">
                <a href="#isolate"><img src="/images/real-whey-hover.png" /></a>
            </div>
        </div>
    </div>
    <div class="e-general__popup">
        <div class="e-general__popup-massa">
            <div class="e-popup" id="massa">
                <div class="e-general__popup-massa-close e-close">Fechar X</div>
                <div class="e-general__popup-massa-image">
                    <img src="/images/whey-protein-popup.png">
                    <div class="e-general__popup-massa-table e-table">
                        <a href="/download/Real-Whey-Professional-900-g-BRASIL.pdf"><span>Ficha Técnica</span></a>
                    </div>
                </div>
                <form class="e-general__popup-massa-form e-form" id="form-massa" method="post" action="phpMailer/sendmail.php">
                    <div class="e-text-form">
                        <span class="e-title"><strong>Para comprar</strong> entre em contato</span>
                        <br/>
                        <span class="e-text">e em até 3 dias úteis entraremos em contato</span>
                    </div>
                    <select id="select" name="selected" required>
                        <option value="cliente">Cliente</option>
                        <option value="revendedor">Revendedor</option>
                    </select>
                    <input id="nome" type="name" name="Name" placeholder="Nome" required />
                    <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required>
                    <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required/>
                    <input type="submit" class="button" value="Enviar" required/>
                </form>
                <div class="e-general__popup-massa-sucess" style="display: none;">
                    <span>Cadastro efetuado com sucesso!</span>
                </div>
            </div>
        </div>
        <div class="e-general__popup-diet">
            <div class="e-popup" id="diet">
                <div class="e-general__popup-diet-close e-close">Fechar X</div>
                <div class="e-general__popup-diet-image">
                    <img src="/images/diet-bar-popup.png" />
                    <div class="e-general__popup-diet-table e-table">
                        <a href="/download/DIET_BAR.pdf"><span>Ficha Técnica</span></a>
                    </div>
                </div>
                <form class="e-general__popup-diet-form e-form" id="form-diet" method="post" action="phpMailer/sendmail.php">
                    <div class="e-text-form">
                        <span class="e-title"><strong>Para comprar</strong> entre em contato</span>
                        <br/>
                        <span class="e-text">e em até 3 dias úteis entraremos em contato</span>
                    </div>
                    <select id="select" name="selected" required>
                        <option value="cliente">Cliente</option>
                        <option value="revendedor">Revendedor</option>
                    </select>
                    <input id="nome" type="name" name="Name" placeholder="Nome" required />
                    <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required>
                    <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required/>
                    <input type="submit" class="button" value="Enviar" required/>
                </form>
                <div class="e-general__popup-diet-sucess" style="display: none;">
                    <span>Cadastro efetuado com sucesso!</span>
                </div>
            </div>
        </div>
        <div class="e-general__popup-snack">
            <div class="e-popup" id="snack">
                <div class="e-general__popup-snack-close e-close">Fechar X</div>
                <div class="e-general__popup-snack-image">
                    <img src="/images/protein-snack-popup.png">
                    <div class="e-general__popup-snack-table e-table">
                        <a href="/download/PROTEIN_SNACK.pdf"><span>Ficha Técnica</span></a>
                    </div>
                </div>
                <form class="e-general__popup-snack-form e-form" id="form-snack" method="post" action="phpMailer/sendmail.php">
                    <div class="e-text-form">
                        <span class="e-title"><strong>Para comprar</strong> entre em contato</span>
                        <br/>
                        <span class="e-text">e em até 3 dias úteis entraremos em contato</span>
                    </div>
                    <select id="select" name="selected" required>
                        <option value="cliente">Cliente</option>
                        <option value="revendedor">Revendedor</option>
                    </select>
                    <input id="nome" type="name" name="Name" placeholder="Nome" required />
                    <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required>
                    <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required/>
                    <input type="submit" class="button" value="Enviar" required/>
                </form>
                <div class="e-general__popup-snack-sucess" style="display: none;">
                    <span>Cadastro efetuado com sucesso!</span>
                </div>
            </div>
        </div>
        <div class="e-general__popup-energy">
            <div class="e-popup" id="creatine">
                <div class="e-general__popup-energy-close e-close">Fechar X</div>
                <div class="e-general__popup-energy-image">
                    <img src="/images/creatine-popup.png" />
                    <div class="e-general__popup-energy-table e-table">
                        <a href="/download/Creatine-Creapure-150g.pdf"><span>Ficha Técnica</span></a>
                    </div>
                </div>
                <form class="e-general__popup-energy-form e-form" id="form-energy" method="post" action="phpMailer/sendmail.php">
                    <div class="e-text-form">
                        <span class="e-title"><strong>Para comprar</strong> entre em contato</span>
                        <br/>
                        <span class="e-text">e em até 3 dias úteis entraremos em contato</span>
                    </div>
                    <select id="select" name="selected" required>
                        <option value="cliente">Cliente</option>
                        <option value="revendedor">Revendedor</option>
                    </select>
                    <input id="nome" type="name" name="Name" placeholder="Nome" required />
                    <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required>
                    <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required/>
                    <input type="submit" class="button" value="Enviar" required/>
                </form>
                <div class="e-general__popup-energy-sucess" style="display: none;">
                    <span>Cadastro efetuado com sucesso!</span>
                </div>
            </div>
        </div>
        <div class="e-general__popup-peso">
            <div class="e-popup" id="pancake">
                <div class="e-general__popup-peso-close e-close">Fechar X</div>
                <div class="e-general__popup-peso-image">
                    <img src="/images/pancake-popup.png">
                    <div class="e-general__popup-peso-table e-table">
                        <a href="/download/Pancake+Protein.pdf"><span>Ficha Técnica</span></a>
                    </div>
                </div>
                <form class="e-general__popup-peso-form e-form" id="form-peso" method="post" action="phpMailer/sendmail.php">
                    <div class="e-text-form">
                        <span class="e-title"><strong>Para comprar</strong> entre em contato</span>
                        <br/>
                        <span class="e-text">e em até 3 dias úteis entraremos em contato</span>
                    </div>
                    <select id="select" name="selected" required>
                        <option value="cliente">Cliente</option>
                        <option value="revendedor">Revendedor</option>
                    </select>
                    <input id="nome" type="name" name="Name" placeholder="Nome" required />
                    <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required/>
                    <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required/>
                    <input type="submit" class="button" value="Enviar" required/>
                </form>
                <div class="e-general__popup-peso-sucess" style="display: none;">
                    <span>Cadastro efetuado com sucesso!</span>
                </div>
            </div>
        </div>
        <div class="e-general__popup-refeicao">
            <div class="e-popup" id="whey-bar">
                <div class="e-general__popup-refeicao-close e-close">Fechar X</div>
                <div class="e-general__popup-refeicao-image">
                    <img src="/images/whey-bar-popup.png">
                    <div class="e-general__popup-refeicao-table e-table">
                        <a href="/download/WHEY_PROTEIN_OATS.pdf"><span>Ficha Técnica</span></a>
                    </div>
                </div>
                <form class="e-general__popup-refeicao-form e-form" id="form-refeicao" method="post" action="phpMailer/sendmail.php">
                    <div class="e-text-form">
                        <span class="e-title"><strong>Para comprar</strong> entre em contato</span>
                        <br/>
                        <span class="e-text">e em até 3 dias úteis entraremos em contato</span>
                    </div>
                    <select id="select" name="selected" required>
                        <option value="cliente">Cliente</option>
                        <option value="revendedor">Revendedor</option>
                    </select>
                    <input id="nome" type="name" name="Name" placeholder="Nome" required />
                    <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required>
                    <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required/>
                    <input type="submit" class="button" value="Enviar" required/>
                </form>
                <div class="e-general__popup-refeicao-sucess" style="display: none;">
                    <span>Cadastro efetuado com sucesso!</span>
                </div>
            </div>
        </div>
        <div class="e-general__popup-bcaa">
            <div class="e-popup" id="bcaa">
                <div class="e-general__popup-bcaa-close e-close">Fechar X</div>
                <div class="e-general__popup-bcaa-image">
                    <img src="/images/bcaa-popup.png">
                    <div class="e-general__popup-bcaa-table e-table">
                        <a href="/download/BCAA-150g.pdf"><span>Ficha Técnica</span></a>
                    </div>
                </div>
                <form class="e-general__popup-bcaa-form e-form" id="form-bcaa" method="post" action="phpMailer/sendmail.php">
                    <div class="e-text-form">
                        <span class="e-title"><strong>Para comprar</strong> entre em contato</span>
                        <br/>
                        <span class="e-text">e em até 3 dias úteis entraremos em contato</span>
                    </div>
                    <select id="select" name="selected" required>
                        <option value="cliente">Cliente</option>
                        <option value="revendedor">Revendedor</option>
                    </select>
                    <input id="nome" type="name" name="Name" placeholder="Nome" required />
                    <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required>
                    <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required/>
                    <input type="submit" class="button" value="Enviar" required/>
                </form>
                <div class="e-general__popup-bcaa-sucess" style="display: none;">
                    <span>Cadastro efetuado com sucesso!</span>
                </div>
            </div>
        </div>
        <div class="e-general__popup-isolate">
            <div class="e-popup" id="isolate">
                <div class="e-general__popup-isolate-close e-close">Fechar X</div>
                <div class="e-general__popup-isolate-image">
                    <img src="/images/isolate-popup.png">
                    <div class="e-general__popup-isolate-table e-table">
                        <a href="/download/Real-Whey-Isolate-900g.pdf"><span>Ficha Técnica</span></a>
                    </div>
                </div>
                <form class="e-general__popup-isolate-form e-form" id="form-isolate" method="post" action="phpMailer/sendmail.php">
                    <div class="e-text-form">
                        <span class="e-title"><strong>Para comprar</strong> entre em contato</span>
                        <br/>
                        <span class="e-text">e em até 3 dias úteis entraremos em contato</span>
                    </div>
                    <select id="select" name="selected" required>
                        <option value="cliente">Cliente</option>
                        <option value="revendedor">Revendedor</option>
                    </select>
                    <input id="nome" type="name" name="Name" placeholder="Nome" required />
                    <input name="telefone" maxlength="15" placeholder="Telefone" type="tel" required>
                    <input id="email" type="email" name="email" placeholder="E-mail" required/>
                    <input id="mensagem" type="text" name="Mensagem" placeholder="Mensagem" required/>
                    <input type="submit" class="button" value="Enviar" required/>
                </form>
                <div class="e-general__popup-isolate-sucess" style="display: none;">
                    <span>Cadastro efetuado com sucesso!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="e-general__antidoping">
        <div class="e-general__antidoping-banner">
            <img src="/images/antidoping.png" />
        </div>
        <div class="e-general__antidoping-mobile">
            <img src="/images/selo_antidoping_mobile.png" />
        </div>
    </div>
    <div class="e-general__baseline">
        <div class="e-general__baseline--depositions">
            <div class="e-general__baseline--depositions-title">
                <span>Depoimentos</span>
            </div>
            <div class="e-general__baseline--depositions-container">
                <div class="e-general__baseline--depositions-container-video1">
                    <iframe width="200" height="315" src="https://www.youtube.com/embed/j9bw-zJk_Js?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="e-general__baseline--depositions-container-text">
                    <span class="title">Henri Castelli e Marcio Garcia</span>
                    <span>Duas grandes personalidades da Televisão e das Mídias Sociais, Henri Castelli e Márcio Garcia, se juntaram à maior empresa de Suplementos e de Alimentação saudável da Europa, a PROZIS! Dois Grandes Embaixadores para Fortalecer ainda mais a PROZIS no Brasil!</span>
                    <a href="//www.youtube.com/channel/UCWwb8nVBorn6ZxEd5DnVivQ"><span>Saiba mais</span></a>
                </div>
                <div class="e-general__baseline--depositions-container-video2">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/r4bAENE0rfs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="e-general__baseline--comparation">
            <div class="e-general__baseline--comparation-title">
                <span>Comparação</span>
            </div>
            <div class="e-general__baseline--comparation-banner">
                <img src="/images/comparacao.png" />
            </div>
            <div class="e-general__baseline--comparation-text">
                <div class="e-general__baseline--comparation-text-realwhey">
                    <span class="e-title">Real Whey</span>
                    <span>Prozis Professional</span>
                    <div class="e-comparation">
                        <span class="e-title">36 doses</span>
                        <span class="e-title">75G/100G</span>
                        <span class="e-title">2,6G</span>
                        <span class="e-title">34MG</span>
                    </div>
                </div>
                <div class="e-general__baseline--comparation-text-center">
                    <span>Doses por embalagem</span>
                    <span>Proteína</span>
                    <span>Carbohidrato</span>
                    <span>Sódio</span>
                </div>
                <div class="e-general__baseline--comparation-text-whey">
                    <span class="e-title">Whey</span>
                    <span>Concorrente</span>
                    <div class="e-comparation">
                        <span class="e-title">29 doses</span>
                        <span class="e-title">75G/100G</span>
                        <span class="e-title">4G</span>
                        <span class="e-title">130MG</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="e-general__presentation">
        //- <div class="e-general__presentation--banner">
        //-     <img src=".././images/banner-quem-somos.png" />
        //- </div>
        <div class="e-general__presentation--title">
            <span>Quem somos</span>
        </div>
        <div class="e-general__presentation--container">
            <div class="e-general__presentation--container-banner1">
                <img src="/images/quem-somos1.png">
            </div>
            <div class="e-general__presentation--container-text">
                <span> Inovação! Esse é o lema da NUTROLOG, Distribuidora Oficial da Linha PROZIS PROFESSIONAL no Brasil! Somos uma empresa moderna, que investe incessantemente em tecnologia para atender melhor nossos clientes e parceiros em todo o território nacional. É isso mesmo! A NUTROLOG está presente em todo o Brasil, sempre levando produtos de primeira, contribuindo, assim, para a qualidade de vida dos nossos parceiros e amigos. Sempre com soluções sob medida, tanto no âmbito da gestão, quanto no comercial, não perdemos vendas! Temos todas as soluções, ou quase todas, para facilitar o acesso dos nossos clientes aos melhores produtos que o mercado pode proporcionar na atualidade. Contamos com uma equipe de vendas dedicada, treinada e apaixonada pelo que faz, levando nossa energia e paixão pela vida saudável aonde quer que eles vão. Nossa sede fica na Barra da Tijuca, no Rio de Janeiro, Cidade Maravilhosa, apaixonada pelo estilo de vida saudável e de bem com a vida, mas temos sempre alguém pertinho pra atender você! NUTROLOG, saúde, inovação e sucesso! Junte-se a nós!</span>
            </div>
            <div class="e-general__presentation--container-banner2">
                <img src="/images/quem-somos2.png">
            </div>
        </div>
    </div>
    <div class="e-general__newsletter">
        <div class="e-general__newsletter--title">
            <span>Cadastre-se e <strong>Receba promoções</strong></span>
        </div>
        <form class="e-general__newsletter--form" method="post" action="phpMailer/sendNewsletter.php">
            <input type="text" name="name" placeholder="Nome" />
            <input type="text" name="email" placeholder="E-mail" />
            <input type="submit" class="button" value="Enviar" required/>
        </form>
    </div>
    <div class="e-general__footer">
        <div class="e-general__footer--container">
            <span>© 2018. Nutrolog - Todos os direitos reservados | Av. João Cabral de Mello Neto, 610, Sala 302 – Barra da Tijuca – Rio de Janeiro – RJ | CEP: 22775-057 | CNPJ: 29.967.588/0001-39 | Telefone: (21) 2204-2403</span>
            <?xml version="1.0"?>
            <a href="//www.instagram.com/nutrolog.distribuidora"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.00096 512.00096" width="512px" height="512px"><path d="m373.40625 0h-234.8125c-76.421875 0-138.59375 62.171875-138.59375 138.59375v234.816406c0 76.417969 62.171875 138.589844 138.59375 138.589844h234.816406c76.417969 0 138.589844-62.171875 138.589844-138.589844v-234.816406c0-76.421875-62.171875-138.59375-138.59375-138.59375zm108.578125 373.410156c0 59.867188-48.707031 108.574219-108.578125 108.574219h-234.8125c-59.871094 0-108.578125-48.707031-108.578125-108.574219v-234.816406c0-59.871094 48.707031-108.578125 108.578125-108.578125h234.816406c59.867188 0 108.574219 48.707031 108.574219 108.578125zm0 0" fill="#FFFFFF"/><path d="m256 116.003906c-77.195312 0-139.996094 62.800782-139.996094 139.996094s62.800782 139.996094 139.996094 139.996094 139.996094-62.800782 139.996094-139.996094-62.800782-139.996094-139.996094-139.996094zm0 249.976563c-60.640625 0-109.980469-49.335938-109.980469-109.980469 0-60.640625 49.339844-109.980469 109.980469-109.980469 60.644531 0 109.980469 49.339844 109.980469 109.980469 0 60.644531-49.335938 109.980469-109.980469 109.980469zm0 0" fill="#FFFFFF"/><path d="m399.34375 66.285156c-22.8125 0-41.367188 18.558594-41.367188 41.367188 0 22.8125 18.554688 41.371094 41.367188 41.371094s41.371094-18.558594 41.371094-41.371094-18.558594-41.367188-41.371094-41.367188zm0 52.71875c-6.257812 0-11.351562-5.09375-11.351562-11.351562 0-6.261719 5.09375-11.351563 11.351562-11.351563 6.261719 0 11.355469 5.089844 11.355469 11.351563 0 6.257812-5.09375 11.351562-11.355469 11.351562zm0 0" fill="#FFFFFF"/></svg></a>
        </div>
    </div>
</div>