@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

body {
    max-width: 1500px;
    text-transform: uppercase;
    margin: 0 auto;
    .e-general {
        @media (max-width: 768px) {
            overflow-x: hidden;
        }
        &__header {
            display: flex;
            justify-content: space-between;
            padding: 0 30px 20px;
            font-family: 'Oswald', sans-serif;
            @media (max-width: 768px) {
                padding: 0 10px;
                justify-content: space-between;
            }
            &--revendedor {
                display: flex;
                width: 200px;
                flex-wrap: wrap;
                @media(max-width: 768px) {
                    display: none;
                }
                &-image {
                    margin-top: 20px;
                    width: 40px;
                }
                &-title {
                    display: block;
                    margin-left: 10px;
                    margin-top: 20px;
                    font-weight: 700
                }
                &-text {
                    display: block;
                    margin-left: 50px;
                    margin-top: -25px;
                }
            }
            &--logo {
                img {
                    width: 90px;
                    margin-top: 20px;
                    @media (max-width: 768px) {
                        margin-top: 15px;
                    }
                }
            }
            &--telefone {
                display: flex;
                width: 150px;
                flex-wrap: wrap;
                &-image {
                    margin-top: 20px;
                    width: 40px;
                    height: auto;
                }
                &-title {
                    display: block;
                    margin-left: 10px;
                    margin-top: 20px;
                    font-weight: 700
                }
                &-text {
                    display: block;
                    margin-left: 50px;
                    margin-top: -25px;
                }
            }
        }
        &__main {
            display: flex;
            flex-direction: column;
            font-family: 'Oswald', sans-serif;
            position: relative;
            &--banner {
                width: 100%;
                height: auto;
                position: relative;
                @media (max-width: 768px) {
                    display: none;
                }
                img {
                    width: 100%;
                    height: auto;
                    display: inline-block;
                }
                &-mobile {
                    display: none;
                    @media (max-width: 768px) {
                        display: flex;
                        width: 100%;
                        height: auto;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            &--text {
                position: absolute;
                right: 275px;
                top: 15%;
                @media (max-width: 768px) {
                    position: relative;
                    background: #f5f5f5;
                    text-align: center;
                    color: #000;
                    right: 0;
                }
                @media (min-width: 769px) and (max-width:1024px) {
                    top: 20%;
                    right: 100px;
                }
                span {
                    font-size: 35px;
                    font-weight: 700;
                    color: #fff;
                    letter-spacing: 1px;
                    @media (max-width: 768px) {
                        color: #000;
                    }
                }
            }
            &--form {
                position: absolute;
                right: 100px;
                display: flex;
                flex-direction: column;
                top: 30%;
                @media (max-width: 768px) {
                    position: relative;
                    background: #f5f5f5;
                    width: 100%;
                    right: 0;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 0;
                }
                @media (min-width: 769px) and (max-width: 1024px) {
                    right: 20px;
                    top: 30%;
                }
                select {
                    width: 400px;
                    height: 35px;
                    margin: 0 0 10px;
                    padding-left: 10px;
                    font-family: 'Oswald', sans-serif;
                    @media (max-width: 768px) {
                        width: 250px;
                    }
                    @media (min-width: 769px) and (max-width: 1130px) {
                        width: 300px;
                        height: 20px;
                    }
                    &:placeholder {
                        font-family: 'Oswald', sans-serif; 
                    }
                }
                input {
                    height: 35px;
                    margin: 0 0 10px;
                    padding-left: 10px;
                    font-family: 'Oswald', sans-serif;
                    -webkit-appearance: none;
                    border-radius: 0;
                    @media (max-width: 768px) {
                        width: 250px;
                    }
                    @media (min-width: 769px) and (max-width: 1130px) {
                        height: 20px;
                    }
                    &:placeholder {
                        font-family: 'Oswald', sans-serif; 
                    }
                    &.button {
                        width: 200px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        text-align: center;
                        position: relative;
                        left: 50%;
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                        background: #1f1f1f;
                        color: #fff;
                        cursor: pointer;
                        @media (max-width: 768px) {
                            left: 0;
                        }
                        @media (min-width: 769px) and (max-width: 1130px)  {
                            width: 150px;
                        }
                    }
                }
            }
        }
        &__container {
            display: flex;
            flex-wrap: wrap;
            font-family: 'Oswald', sans-serif;
            justify-content: space-around;
            text-align: center;
            padding-bottom: 30px;
            @media (max-width: 768px) {
                display: none;
            }
            span {
                font-size: 22px;
            }
            &--title {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 20px 0;
                span {
                    font-weight: 700;
                    font-size: 35px;
                    text-transform: uppercase;
                }
            }
            &--product {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                height: 200px;
                &-image {
                    img {
                        position: relative;
                        left: 20px;
                    }
                    &:after {
                        content: '';
                        left: 100%;
                        position: relative;
                        background: url(/images/next.png) no-repeat center;
                        width: 40px;
                        height: 70px;
                        display: inline-block;
                        background-size: 50px;
                    }
                }
            }
            &--contact {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                height: 200px;
                &-image {
                    right: -20px;
                    position: relative;
                    &:after {
                        content: '';
                        left: 50%;
                        position: relative;
                        background: url(/images/next.png) no-repeat center;
                        width: 40px;
                        height: 70px;
                        display: inline-block;
                        background-size: 50px;
                        top: 23px;
                    }
                }
                &-text {
                    width: 200px;
                    text-align: center;
                }
            }
            &--submit {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                left: -50px;
                position: relative;
                height: 200px;
                &-text {
                    width: 200px;
                    text-align: center;
                }
            }
        }
        &__banners {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: hidden;
            height: 440px;
            @media (max-width: 768px) {
                display: none;
            }
            &-top {
                display: flex;
                position: relative;
                height: 210px;
                width: 100%;
                &--massa {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: auto;
                    transition: all 0.5s ease;
                    &:hover {
                        .e-general__banners-top--massa-image {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .3s ease .3s;
                        }
                        .e-general__banners-top--massa-image-hover {
                            position: relative;
                            opacity: 1;
                            width: 100%;
                            height: auto;
                            display: block;
                            z-index: 9;
                            padding: 0;
                            top: 0px;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            
                        }
                    }
                    &-image {
                        width: 100%;
                        height: auto;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &-hover {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .5s ease;
                            @media (max-width: 768px) {
                                display: inline-block;
                            }
                        }
                    }
                }
                &--diet {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: auto;
                    &:hover {
                        .e-general__banners-top--diet-image {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .3s ease .3s;
                        }
                        .e-general__banners-top--diet-image-hover {
                            position: relative;
                            opacity: 1;
                            width: 100%;
                            height: auto;
                            display: block;
                            z-index: 9;
                            padding: 0;
                            top: 0px;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            
                        }
                    }
                    &-image {
                        width: 100%;
                        height: auto;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &-hover {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .5s ease;
                            @media (max-width: 768px) {
                                display: inline-block;
                            }
                        }
                    }
                }
                &--snack {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: auto;
                    &:hover {
                        .e-general__banners-top--snack-image {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .3s ease .3s;
                        }
                        .e-general__banners-top--snack-image-hover {
                            position: relative;
                            opacity: 1;
                            width: 100%;
                            height: auto;
                            display: block;
                            z-index: 9;
                            padding: 0;
                            top: 0px;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            
                        }
                    }
                    &-image {
                        width: 100%;
                        height: auto;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &-hover {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .5s ease;
                            @media (max-width: 768px) {
                                display: inline-block;
                            }
                        }
                    }
                }
                &--energy {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: auto;
                    &:hover {
                        .e-general__banners-top--energy-image {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .3s ease .3s;
                        }
                        .e-general__banners-top--energy-image-hover {
                            position: relative;
                            opacity: 1;
                            width: 100%;
                            height: auto;
                            display: block;
                            z-index: 9;
                            padding: 0;
                            top: 0px;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            
                        }
                    }
                    &-image {
                        width: 100%;
                        height: auto;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &-hover {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .5s ease;
                            @media (max-width: 768px) {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            &-bottom {
                display: flex;
                position: relative;
                top: 0;
                height: 210px;
                width: 100%;
                &--peso {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: auto;
                    &:hover {
                        .e-general__banners-bottom--peso-image {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .3s ease .3s;
                        }
                        .e-general__banners-bottom--peso-image-hover {
                            position: relative;
                            opacity: 1;
                            width: 100%;
                            height: auto;
                            display: block;
                            z-index: 9;
                            padding: 0;
                            bottom: 0;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            
                        }
                    }
                    &-image {
                        width: 100%;
                        height: auto;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &-hover {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .5s ease;
                            @media (max-width: 768px) {
                                display: inline-block;
                            }
                        }
                    }
                }
                &--refeicao {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: auto;
                    &:hover {
                        .e-general__banners-bottom--refeicao-image {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .3s ease .3s;
                        }
                        .e-general__banners-bottom--refeicao-image-hover {
                            position: relative;
                            opacity: 1;
                            width: 100%;
                            height: auto;
                            display: block;
                            z-index: 9;
                            padding: 0;
                            bottom: 0;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            
                        }
                    }
                    &-image {
                        width: 100%;
                        height: auto;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &-hover {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .5s ease;
                            @media (max-width: 768px) {
                                display: inline-block;
                            }
                        }
                    }
                }
                &--bcaa {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: auto;
                    &:hover {
                        .e-general__banners-bottom--bcaa-image {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .3s ease .3s;
                        }
                        .e-general__banners-bottom--bcaa-image-hover {
                            position: relative;
                            opacity: 1;
                            width: 100%;
                            height: auto;
                            display: block;
                            z-index: 9;
                            padding: 0;
                            bottom: 0;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            
                        }
                    }
                    &-image {
                        width: 100%;
                        height: auto;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &-hover {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .5s ease;
                            @media (max-width: 768px) {
                                display: inline-block;
                            }
                        }
                    }
                }
                &--isolate {
                    cursor: pointer;
                    position: relative;
                    width: 100%;
                    height: auto;
                    &:hover {
                        .e-general__banners-bottom--isolate-image {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .3s ease .3s;
                        }
                        .e-general__banners-bottom--isolate-image-hover {
                            position: relative;
                            opacity: 1;
                            width: 100%;
                            height: auto;
                            display: block;
                            z-index: 9;
                            padding: 0;
                            bottom: 0;
                            img {
                                width: 100%;
                                height: auto;
                            }
                            
                        }
                    }
                    &-image {
                        width: 100%;
                        height: auto;
                        @media (max-width: 768px) {
                            display: none;
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &-hover {
                            opacity: 0;
                            height: 0;
                            padding: 0 8px;
                            overflow: hidden;
                            transition: all .5s ease;
                            @media (max-width: 768px) {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            &-mobile {
                display: none;
                @media (max-width: 768px) {
                    display: block;
                    .slick-arrow {
                        position: absolute;
                        z-index: 9;
                        font-size: 0;
                        border: none;
                        width: 30px;
                        height: 50px;                
                        &.slick-prev {
                            left: 0;
                            margin-top: 50%;
                            background: url(/images/back.png) no-repeat center;
                        }
                        &.slick-next {
                            right: 0;
                            margin-top: -62%;
                            background: url(/images/next-arrow.png) no-repeat center;
                        }
                    }
                    .slick-list {
                        position: relative;
                        text-align: center;
                        .slick-track {
                            display: flex;
                            .slick-slide {
                                a {
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__popup {
            background: #e3e4e6;
            font-family: 'Oswald', sans-serif;
            >div {
                display: none;
                &.e-active {
                    .e-popup {
                        text-align: center;
                        display: flex !important;
                        justify-content: space-around;
                        .e-table {
                            display: flex;
                            align-items: center;
                            margin: 0 50px;
                            padding: 20px;
                            a {
                                background: #d54b17;
                                color: #fff;
                                padding: 10px 30px;
                                white-space: nowrap;
                            }
                        }
                        .e-form {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-left: 100px;
                            margin-right: -80px;
                            @media (max-width: 1024px) {
                                display: none;
                            }
                            .e-text-form {
                                text-align: left;
                                .e-title {
                                    font-size: 26px;
                                }
                            }
                            select {
                                margin: 10px 0;
                                padding: 0 10px;
                                height: 40px;
                                width: 100%;
                                box-shadow: none;
                                text-transform: uppercase;
                                font-family: 'Oswald', sans-serif;
                                option {
                                    height: 40px;
                                }
                            }
                            input {
                                margin: 10px 0;
                                height: 40px;
                                padding: 0 10px;
                                width: 100%;
                                text-transform: uppercase;
                                font-family: 'Oswald', sans-serif;
                                -webkit-appearance: none;
	                            border-radius: 0;
                                &.button {
                                    width: 50%;
                                    background: #000;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    color: #fff;
                                    text-transform: uppercase;
                                    font-family: 'Oswaldo', sans-serif;
                                    font-weight: 700;
                                    letter-spacing: 2px;
                                    font-size: 16px;
                                    cursor: pointer;
                                }
                            }
                        }
                        .e-close {
                            text-align: right;
                            margin-right: 30px;
                            cursor: pointer;
                            order: 5;
                            right: -80px;
                            position: relative;
                            height: 50px;
                            @media (max-width: 1024px) {
                                right: 0;
                                margin-right: 0;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }
        }
        &__antidoping {
            display: flex;
            justify-content: center;
            align-items: center;
            &-banner {
                width: 100%;
                height: auto;
                @media (max-width: 768px) {
                    display: none;
                }
                img {
                    width: 100%;
                    height: auto;
                    display: flex;
                }
            }
            &-mobile {
                display: none;
                @media (max-width: 768px) {
                    display: flex;
                    width: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        &__baseline {
            display: flex;
            width: 100%;
            font-family: 'Oswald', sans-serif;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            &--depositions {
                background: #1f1f1f;
                width: 35%;
                color: #eaeaea;
                @media (max-width: 768px) {
                    width: 100%;
                }
                &-title {
                    font-size: 35px;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 20px 0;
                    font-weight: 700;
                }
                &-container {
                    display: flex;
                    flex-wrap: wrap;
                    &-video1 {
                        width: 50%;
                        padding-left: 10px;
                        @media (max-width: 768px) {
                            width: 100%;
                            padding: 10px 0;
                        }
                        iframe {
                            height: 100%;
                            @media (max-width: 768px) {
                                width: 100%;
                            }
                        }
                    }
                    &-text {
                        width: 50%;
                        margin-left: -5px;
                        @media (max-width: 768px) {
                            width: 100%;
                            padding: 0 10px;
                        }
                        span {
                            display: flex;
                            flex-wrap: wrap;
                            width: 200px;
                            @media (max-width: 768px) {
                                width: 100%;
                            }
                            &.title {
                                display: block;
                                font-size: 22px;
                                letter-spacing: 1px;
                                width: 200px;
                                font-weight: 700;
                                @media (max-width: 768px) {
                                    width: 100%;
                                }
                            }
                        }
                        a {
                            span {
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 70%;
                                margin: 0 auto;
                                top: 10px;
                                position: relative;
                                font-size: 20px;
                                padding: 10px 0;
                                text-transform: uppercase;
                                color: #fff;
                                background: #d54b17;
                                cursor: pointer;
                                margin-left: 0;
                                @media (max-width: 768px) {
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                    &-video2 {
                        width: 90%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateX(20%);
                        left: -15%;
                        position: relative;
                        padding: 20px 0;
                        @media (max-width: 768px) {
                            left: 0;
                            transform: none;
                            width: 100%;
                        }
                        iframe {
                            height: 200px;
                        }
                    }
                }
            }
            &--comparation {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 65%;
                background: #f5f5f5;
                @media (max-width: 768px) {
                    width: 100%;
                }
                &-title {
                    font-size: 35px;
                    text-transform: uppercase;
                    font-weight: 600;
                    bottom: 20px;
                    position: relative;
                    padding: 40px 0;
                }
                &-banner {
                    bottom: 30px;
                    position: relative;
                }
                &-text {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;
                    align-items: center;
                    padding-bottom: 30px;
                    @media (max-width: 768px) {
                        justify-content: space-between;
                    }
                    &-realwhey {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        span {
                            top: -40px;
                            position: relative;
                            left: 50%;
                            text-align: right;
                            font-size: 22px;
                            @media (max-width: 768px) {
                                left: 5px;
                                font-size: 15px;
                            }
                            &.e-title {
                                top: -40px;
                                left: 50%;
                                font-size: 30px;
                                font-weight: 900;
                                padding: 20px 0 0;
                                @media (max-width: 768px) {
                                    left: 0;
                                    font-size: 25px;
                                }
                            }
                        }
                        .e-comparation {
                            display: flex;
                            flex-direction: column;
                            @media (max-width: 768px) {
                                align-items: center;
                            }
                            .e-title {
                                top: 0;
                                left: 50%;
                                font-size: 15px;
                                padding: 0;
                                @media (max-width: 768px) {
                                    left: 0;
                                }
                            }
                        }
                    }
                    &-center {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        top: 50px;
                        position: relative;
                        left: -3%;
                        @media (max-width: 768px) {
                            top: 38px;
                            left: -15px;
                            align-items: center;
                            justify-content: center;
                            font-size: 15px;
                        }
                        span {
                            @media(max-width: 768px) {
                                white-space: nowrap;
                            }
                            &::before {
                                content: '< ';
                                right: 10px;
                                position: relative;
                                font-weight: 900;
                            }
                            &:after {
                                content: '>';
                                left: 10px;
                                position: relative;
                                font-weight: 900;
                            }
                        }
                    }
                    &-whey {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        span {
                            top: -40px;
                            position: relative;
                            right: 140px;
                            text-align: left;
                            font-size: 22px;
                            @media (max-width: 768px) {
                                right: 5px;
                                font-size: 15px;
                            }
                            &.e-title {
                                top: -40px;
                                right: 140px;
                                font-weight: 700;
                                font-size: 30px;
                                padding: 20px 0 0;
                                @media (max-width: 768px) {
                                    font-size: 25px;
                                    right: 0;
                                }
                            }
                        }
                        .e-comparation {
                            display: flex;
                            flex-direction: column;
                            .e-title {
                                top: 0;
                                right: 140px;
                                font-size: 15px;
                                padding: 0;
                                @media (max-width: 768px) {
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__presentation {
            width: 100%;
            height: auto;
            font-family: 'Oswald', sans-serif;
            &--title {
                width: 100%;
                text-align: center;
                padding: 30px 0;
                font-size: 35px;
                font-weight: 700;
                text-transform: uppercase;
            }
            &--container {
                display: flex;
                justify-content: center;
                align-items: center;
                &-banner1 {
                    width: 15%;
                    bottom: -26px;
                    position: relative;
                    @media (max-width: 768px) {
                        display: none;
                    }
                } 
                &-text {
                    width: 100%;
                    @media (max-width: 768px) {
                        width: 90%;
                        font-size: 14px;
                        padding-bottom: 20px;
                    }
                }
                &-banner2 {
                    width: 10%;
                    @media (max-width: 768px) {
                        display: none;
                    }
                }
            }
        }
        &__newsletter {
            background-color: #d54b17;
            display: flex;
            height: 100px;
            align-items: center;
            justify-content: center;
            @media (max-width: 768px) {
                flex-direction: column;
                height: auto;
                padding-bottom: 15px; 
            }
            &--title {
                font-family: 'Oswald', sans-serif;
                font-size: 25px;
                color: #fff;
                padding: 0 10px;
                text-transform: uppercase;
                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }
            &--form {
                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                }
                input {
                    width: 200px;
                    height: 30px;
                    padding: 10px;
                    font-family: 'Oswald', sans-serif;
                    margin: 0 10px;
                    -webkit-appearance: none;
                    border-radius: 0;
                    @media (max-width: 768px) {
                        width: 80%;
                        margin: 10px 0;
                    }
                }
                .button {
                    background: #1f1f1f;
                    color: #fff;
                    font-family: 'Oswald', sans-serif;
                    padding: 5px 50px;
                    cursor: pointer;
                }
            }
        }
        &__footer {
            background: #1f1f1f;
            color: #fff;
            font-family: 'Oswald', sans-serif;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            @media (max-width: 768px) {
                width: 100%;
                font-size: 10px;
                text-align: center;
                padding: 0 10px;
            }
            &--container {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center; 
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}