@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

.e-general {
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px 20px;
        font-family: 'Oswald', sans-serif;
        &--revendedor {
            display: flex;
            width: 200px;
            flex-wrap: wrap;
            &-image {
                margin-top: 20px;
                width: 40px;
            }
            &-title {
                display: block;
                margin-left: 10px;
                margin-top: 20px;
                font-weight: 700
            }
            &-text {
                display: block;
                margin-left: 50px;
                margin-top: -25px;
            }
        }
        &--logo {
            img {
                width: 90px;
                margin-top: 20px;
            }
        }
        &--telefone {
            display: flex;
            width: 150px;
            flex-wrap: wrap;
            &-image {
                margin-top: 20px;
                width: 40px;
                height: auto;
            }
            &-title {
                display: block;
                margin-left: 10px;
                margin-top: 20px;
                font-weight: 700
            }
            &-text {
                display: block;
                margin-left: 50px;
                margin-top: -25px;
            }
        }
    }
    &__main {
        display: flex;
        flex-direction: column;
        font-family: 'Oswald', sans-serif;
        &--banner {
            width: 100%;
            height: auto;
            position: relative;
            img {
                width: 100%;
                height: auto;
                display: inline-block;
            }
        }
        &--text {
            position: absolute;
            right: 300px;
            top: 120px;
            span {
                font-size: 35px;
                font-weight: 700;
                color: #fff;
                letter-spacing: 1px;
            }
        }
        &--form {
            position: absolute;
            right: 100px;
            display: flex;
            flex-direction: column;
            top: 180px;
            select {
                width: 400px;
                height: 30px;
                margin: 0 0 10px;
                padding-left: 10px;
                font-family: 'Oswald', sans-serif; 
                &:placeholder {
                    font-family: 'Oswald', sans-serif; 
                }
            }
            input {
                height: 30px;
                margin: 0 0 10px;
                padding-left: 10px;
                font-family: 'Oswald', sans-serif; 
                &:placeholder {
                    font-family: 'Oswald', sans-serif; 
                }
                &.button {
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    text-align: right;
                    position: relative;
                    left: 50%;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                    background: #1f1f1f;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Oswald', sans-serif;
        justify-content: space-around;
        text-align: center;
        span {
            font-size: 22px;
        }
        &--title {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 20px 0;
            span {
                font-weight: 700;
                font-size: 35px;
                text-transform: uppercase;
            }
        }
        &--product {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
            &-image {
                img {
                    position: relative;
                    right: -20px;
                }
                &:after {
                    content: '';
                    left: 100%;
                    position: relative;
                    background: url(./../../../images/next.png) no-repeat center;
                    width: 40px;
                    height: 70px;
                    display: inline-block;
                    background-size: 50px;
                }
            }
        }
        &--contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-image {
                right: -20px;
                position: relative;
                &:after {
                    content: '';
                    left: 50%;
                    position: relative;
                    background: url(./../../../images/next.png) no-repeat center;
                    width: 40px;
                    height: 70px;
                    display: inline-block;
                    background-size: 50px;
                    top: 23px;
                }
            }
            &-text {
                width: 150px;
                text-align: center;
            }
        }
        &--submit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: -50px;
            position: relative;
            &-text {
                width: 170px;
                text-align: center;
            }
        }
    }
    &__banners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-top {
            display: flex;
            position: relative;
            height: 210px;
            &--massa {
                cursor: pointer;
                position: relative;
                &:hover {
                    .e-general__banners-top--massa-image {
                        display: none;
                    }
                    .e-general__banners-top--massa-image-hover {
                        display: inline-block;
                        position: relative;
                        z-index: 9  ;
                    }
                }
                &-image {
                    &-hover {
                        display: none;
                    }
                }
            }
            &--diet {
                cursor: pointer;
                position: relative;
                &:hover {
                    .e-general__banners-top--diet-image {
                        display: none;
                    }
                    .e-general__banners-top--diet-image-hover {
                        display: inline-block;
                        position: relative;
                        z-index: 9  ;
                    }
                }
                &-image {
                    &-hover {
                        display: none;
                    }
                }
            }
            &--whey {
                cursor: pointer;
                position: relative;
                &:hover {
                    .e-general__banners-top--whey-image {
                        display: none;
                    }
                    .e-general__banners-top--whey-image-hover {
                        display: inline-block;
                        position: relative;
                        z-index: 9  ;
                    }
                }
                &-image {
                    &-hover {
                        display: none;
                    }
                }
            }
            &--energy {
                cursor: pointer;
                position: relative;
                &:hover {
                    .e-general__banners-top--energy-image {
                        display: none;
                    }
                    .e-general__banners-top--energy-image-hover {
                        display: inline-block;
                        position: relative;
                        z-index: 9  ;
                    }
                }
                &-image {
                    &-hover {
                        display: none;
                    }
                }
            }
        }
        &-bottom {
            display: flex;
            position: relative;
            top: 0;
            height: 210px;
            &--peso {
                cursor: pointer;
                position: relative;
                &:hover {
                    .e-general__banners-bottom--peso-image {
                        display: none;
                    }
                    .e-general__banners-bottom--peso-image-hover {
                        display: inline-block;
                        position: relative;
                        z-index: 9  ;
                    }
                }
                &-image {
                    &-hover {
                        display: none;
                    }
                }
            }
            &--refeicao {
                cursor: pointer;
                position: relative;
                &:hover {
                    .e-general__banners-bottom--refeicao-image {
                        display: none;
                    }
                    .e-general__banners-bottom--refeicao-image-hover {
                        display: inline-block;
                        position: relative;
                        z-index: 9  ;
                    }
                }
                &-image {
                    &-hover {
                        display: none;
                    }
                }
            }
            &--bem {
                cursor: pointer;
                position: relative;
                &:hover {
                    .e-general__banners-bottom--bem-image {
                        display: none;
                    }
                    .e-general__banners-bottom--bem-image-hover {
                        display: inline-block;
                        position: relative;
                        z-index: 9  ;
                    }
                }
                &-image {
                    &-hover {
                        display: none;
                    }
                }
            }
            &--massa {
                cursor: pointer;
                position: relative;
                &:hover {
                    .e-general__banners-bottom--massa-image {
                        display: none;
                    }
                    .e-general__banners-bottom--massa-image-hover {
                        display: inline-block;
                        position: relative;
                        z-index: 9  ;
                    }
                }
                &-image {
                    &-hover {
                        display: none;
                    }
                }
            }
        }
    }
    &__antidoping {
        &-banner {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    &__baseline {
        display: flex;
        width: 100%;
        font-family: 'Oswald', sans-serif;
        &--depositions {
            background: #1f1f1f;
            width: 35%;
            color: #eaeaea;
        }
    }
}